<footer class="footer footer-center bg-theme-bg text-theme-textSecond font-medium py-3 pb-6 gap-2">
    <a class="link link-hover hover:text-theme-textAccent border-y-2 border-theme-bgPrimary px-6 text-lg mb-4">Advertise on NUchan</a>
    <p>All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</p>
    <nav class="grid grid-flow-col gap-2 border-t-2 border-theme-bgPrimary px-8">
        <a class="link link-hover hover:text-theme-textAccent">About</a>
        <span>•</span>
        <a class="link link-hover hover:text-theme-textAccent">Feedback</a>
        <span>•</span>
        <a class="link link-hover hover:text-theme-textAccent">Legal</a>
        <span>•</span>
        <a class="link link-hover hover:text-theme-textAccent">Contact</a>
    </nav>
</footer>