<header id="header" class="flex h-fit col-span-2 px-5 py-2 bg-theme-bgAccent text-white">
    

    <!-- HAMBURGER BUTTON -->
    <span id="expandSide" style="font-size: 36px;" class="cursor-pointer select-none material-symbols-rounded">menu</span>
    
    <!-- SMALL LOGO -->
    <img src="/img/logoSmall.svg" alt="" class="antialiased max-h-[36px] hidden xl:block">
    
    <!-- SEARCH BAR -->
    <div class="border-2 border-white min-w-[180px] w-4/12 rounded-lg m-auto h-9 flex overflow-hidden align-middle ">
        <input type="text" class="p-2 bg-transparent grow" placeholder="Search boards, threads...">
        <span style="font-size: 28px;" class="content-center material-symbols-rounded text-theme-textMuted bg-white justify-self-end ">search</span>
        
    </div>
    
    <!-- PROFILE -->
    <div class="rounded-full size-9 bg-theme-bgPrimary">

    </div>
</header>

