<aside id="sidebar" style="font-variation-settings: 'wght' 400;"  class="col-span-1 row-span-1 overflow-y-auto overflow-x-hidden bg-theme-bgPrimary font-spline font-light hidden xl:block">
    <ul class="flex flex-col h-full gap-3 p-4 text-lg text-theme-textPrimary">
        
        <a href="/" class="sidebar-button" >
            <span style="font-size: 36px;" class="material-symbols-rounded">home</span>
            <h6>Home</h6>
        </a>
        <a href="/hot" class="sidebar-button">
            <span class="material-symbols-rounded">local_fire_department</span>
            <h6>Hot</h6>
        </a>
        
        <!-- -------------------- ACCOUNT -------------------- -->

        <hr class="w-full my-1 border-t-2 border-black rounded-full">
        
        <a class="opacity-25 sidebar-button">
            <span class="material-symbols-rounded">bookmark</span>
            <h6>Bookmarked</h6>
        </a>
        
        <a class="opacity-25 sidebar-button">
            <span class="material-symbols-rounded">forum</span>
            <h6>Posts & Replies</h6>
        </a>
        
        <a class="opacity-25 sidebar-button">
            <span class="material-symbols-rounded">history</span>
            <h6>History</h6>
        </a>
        
        <a href="/settings" class="sidebar-button">
            <span class="material-symbols-rounded">settings</span>
            <h6>Settings</h6>
        </a>
        
        <!-- -------------------- BOARD LIST -------------------- -->
        <hr class="w-full my-1 border-t-2 border-black rounded-full">

        <!-- <input type="text" placeholder="Search" class="border-2 rounded-lg bg-theme-bgPrimary border-theme-textPrimary input"> -->
        <label class="input input-bordered flex items-center gap-2 h-9">
            <input type="text" class="grow" placeholder="Search" />
        </label>

        <ul id="boardContainer" class="flex flex-col text-[inherit] gap-[inherit] overflow-y-auto overflow-x-hidden">
            
            
        </ul>

    </ul>
</aside>
<script type="module" src="/scripts/sidebar.js"></script>
<script>
    // the second boardList is sent from the server, we save it in the first one so we can use it client-side
    const boardList = <%- JSON.stringify(boardList) %>
</script>
