<aside id="sidebar" class="bg-[#FFCCAA] col-span-1 row-span-1 font-spline overflow-auto">
    <ul class="flex flex-col h-full gap-2 p-4 text-lg text-black">
        
        <a href="/" class="sidebar-button">
            <span class="material-symbols-rounded">home</span>
            Home</a>
        <a href="/hot" class="sidebar-button">
            <span class="fill-current material-symbols-outlined">local_fire_department</span>
            Hot</a>
        
        <!-- -------------------- ACCOUNT -------------------- -->

        <hr class="w-full my-1 border-t-2 border-black rounded-full">
        
        <a class="opacity-25 sidebar-button">
            <span class="material-symbols-rounded">bookmark</span>
            Bookmarked</a>
        
        <a class="opacity-25 sidebar-button">
            <span class="material-symbols-rounded">forum</span>
            Posts & Replies</a>
        
        <a class="opacity-25 sidebar-button">
            <span class="material-symbols-rounded">history</span>
            History</a>
        
        <a href="/settings" class="sidebar-button">
            <span class="material-symbols-rounded">settings</span>
            Settings</a>
        
        <!-- -------------------- BOARD LIST -------------------- -->
        <hr class="w-full my-1 border-t-2 border-black rounded-full">

        <input type="text" placeholder="Search" class="bg-white rounded-lg input h-11">
        
        <ul id="boardContainer" class="flex flex-col text-[inherit] gap-[inherit] overflow-y-auto overflow-x-hidden">
            <a href="/boards/v" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="flex-grow truncate">templatetemplatetemplate</span>
                <img class="pinIcon" src="/img/pin.svg" alt="">
            </a>
            
        </ul>

    </ul>
</aside>
<script type="module" src="/scripts/sidebar.js"></script>
<script>
    // the second boardList is sent from the server, we save it in the first one so we can use it client-side
    const boardList = <%- JSON.stringify(boardList) %>
    // console.log(boardList)
</script>
