<aside id="sidebar" class="bg-[#FFCCAA] col-span-1 row-span-1 font-spline overflow-auto">
    <ul class="flex flex-col p-4 text-lg gap-2 text-black h-full">
        
        <a href="/home" class="sidebar-button">
            <span class="material-symbols-rounded">home</span>
            Home</a>
        <a href="/hot" class="sidebar-button">
            <span class="material-symbols-outlined fill-current">local_fire_department</span>
            Hot</a>
        
        <!-- -------------------- ACCOUNT -------------------- -->

        <hr class="w-full border-black border-t-2 rounded-full my-1">
        
        <a href="/bookmarked" class="sidebar-button">
            <span class="material-symbols-rounded">bookmark</span>
            Bookmarked</a>
        
        <a href="/posts&replies" class="sidebar-button">
            <span class="material-symbols-rounded">forum</span>
            Posts & Replies</a>
        
        <a href="/history" class="sidebar-button">
            <span class="material-symbols-rounded">history</span>
            History</a>
        
        <a href="/settings" class="sidebar-button">
            <span class="material-symbols-rounded">settings</span>
            Settings</a>
        
        <!-- -------------------- BOARD LIST -------------------- -->
        <hr class="w-full border-black border-t-2 rounded-full my-1">

        <input type="text" placeholder="Search" class="input rounded-lg bg-white">
        
        <ul id="boardContainer" class="flex flex-col text-[inherit] gap-[inherit] overflow-y-auto overflow-x-hidden">
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class="sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
            <a href="/post/id" id="boardButton" class=" sidebar-button">
                <span class="">/v/</span>
                <span class="truncate flex-grow">templatetemplatetemplate</span>
                <img class="rotate-45 w-10" src="/img/pin.svg" alt="">
            </a>
        </ul>

    </ul>
</aside>
<script type="module" src="/scripts/sidebar.js"></script>
