<article class="bg-theme-postPrimary rounded-2xl min-w-[300px] h-[300px] lg:max-w-[80%] max-w-[99%] resize overflow-auto flex p-2">
    <script type="module" defer src="/scripts/thread.js"></script>
    <div class="flex flex-row h-fit items-center gap-3">
        <button class="size-6 rounded-lg grow bg-theme-bgAccent " >
            <span class="text-white material-symbols-rounded content-center" style="font-variation-settings: 'wght' 700;">add</span>
        </button>
        <h1 class="text-2xl font-bold">Muslim Women</h1>
        <span>

        </span>
    </div>

</article>