<article class="bg-theme-postPrimary rounded-2xl min-w-[300px] h-auto lg:max-w-[80%] max-w-[97%] resize overflow-auto flex p-2" id="topContainer">
    <script type="module" defer src="/scripts/thread.js"></script>
    <div class="flex flex-row h-fit items-center gap-3" id="">
        <button id="expandButton" class="size-6 rounded-lg grow bg-theme-bgAccent " >
            <span class="text-white material-symbols-rounded content-center" style="font-variation-settings: 'wght' 700;">remove</span>
        </button>
        <h1 class="lg:text-2xl text-lg font-bold">Post title</h1>
        <span>

        </span>
    </div>

</article>