<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white">

<!-- -------------------- HEAD -------------------- -->
<%- include("partials/head.ejs") %>
<head>
    <title>NUchan</title>
</head>


<body>
	<div id="gridContainer" class="grid grid-cols-[320px_1fr] grid-rows-[60px_auto] h-screen">
        <!-- -------------------- HEADER -------------------- -->
        <%- include("partials/header") %>
        <!-- -------------------- SIDEBAR -------------------- -->
        <%- include("partials/sidebar") %>
        <!-- -------------------- MAIN CONTENT -------------------- -->
        <main id="mainContent" class=" col-span-1 bg-[#FFFFEE] text-black">
            <h1 class="text-9xl">HOME PAGE</h1>

        </main>

    </div>
</body>
</html>