<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white">

<!-- -------------------- HEAD -------------------- -->
<%- include("partials/head.ejs") %>
<head>
    <title>NUchan</title>
</head>


<body>
	<div id="gridContainer" class="grid grid-rows-[auto_auto] h-screen">
        <!-- -------------------- HEADER -------------------- -->
        <%- include("partials/header") %>
        <!-- -------------------- SIDEBAR -------------------- -->
        <%- include("partials/sidebar") %>
        <!-- -------------------- MAIN CONTENT -------------------- -->
        <main id="mainContent" class="flex flex-col items-center col-span-1 p-10 overflow-auto text-black bg-theme-bg">
            <section id="nuchanLogo" class="justify-center w-full h-[200px] flex">
                <img class="h-full contrast-100 brightness-125 saturate-0" src="/img/4chan-Emblem.png" alt="">
                
                <h1 class="m-0 text-transparent bg-clip-text bg-gradient-to-b from-white to-gray-800 translate-x-[-50px] font-extrabold tracking-[-0.08em] text-[120px] font-spline" 
                style="-webkit-text-stroke: 4px #4A4A4A; ">NUchan</h1>
            </section>
        
            <section class="flex flex-col h-auto w-full max-w-[900px] mt-20 border-2 border-theme-bgAccent">
                <div class="flex flex-row p-2 text-white bg-theme-bgAccent">
                    <h3 class="text-2xl font-bold grow">What is NUchan?</h3>
                    <button class="text-white border-2 rounded-none btn btn-sm btn-square btn-outline">
                        <span class="material-symbols-rounded">close</span></button>
                </div>
                <div class="p-2 text-lg bg-theme-postPrimary text-balance text-theme-textPrimary">
                    <p>NUchan is a visual update to 4chan that adds a whole lot of new features... Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia molestiae voluptatum excepturi fuga sit, quae esse? Optio in, perspiciatis dicta ducimus corrupti commodi distinctio soluta accusantium odio minima repellendus, nemo accusamus modi fugit suscipit consectetur doloremque magnam placeat quia mollitia quae eos facere rem? Est, omnis. Nisi, nihil corrupti.</p>
                </div>
            </section>

            <section id="boardsWindow" class="flex flex-col min-h-72 h-auto w-full max-w-[900px] mt-5 border-2 border-theme-bgAccent">
                <div class="flex flex-row p-2 text-theme-textAccent bg-theme-bgPrimary">
                    <h3 class="text-2xl font-bold grow">Boards</h3>
                    <button class="border-[3px] rounded-none text-inherit btn btn-sm btn-square btn-outline">
                        <span class="material-symbols-rounded">close</span></button>
                </div>
                
                <div class="flex flex-col grow bg-theme-postPrimary">

                </div>
            </section>
        
        
        
        
        
        </main>
        
    </div>
</body>
</html>