<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white w-screen h-screen">

<!-- -------------------- HEAD -------------------- -->
<%- include("partials/head.ejs") %>
<head>
    <script defer type="module" src="/scripts/home.js"></script>
    <title>NUchan</title>
</head>


<body class="bg-black w-screen h-screen">
	<div id="gridContainer" class="grid grid-rows-[52px_auto] auto-rows-min w-screen h-screen">
        <!-- -------------------- HEADER -------------------- -->
        <%- include("partials/header") %>
        <!-- -------------------- SIDEBAR -------------------- -->
        <%- include("partials/sidebar") %>
        <!-- -------------------- MAIN CONTENT -------------------- -->
        <main id="mainContent" class="flex flex-col items-center col-span-2 xl:col-span-1 p-2 overflow-auto overflow-x-hidden text-black bg-theme-bg">
            <section id="nuchanLogo" class="justify-center w-full h-[150px] flex lg:mt-10 mt-5">
                <img class="h-[50px] lg:h-full antialiased" src="/img/logoBig.png" alt="">
                
                
            </section>
        
            <section class="flex flex-col h-auto w-full max-w-[900px] lg:mt-20 mt-5 border-2 border-theme-bgAccent">
                <div class="flex flex-row p-2 text-white bg-theme-bgAccent">
                    <h3 class="text-2xl font-bold grow">What is NUchan?</h3>
                    <button class="text-white border-2 rounded-none btn btn-sm btn-square btn-outline">
                        <span class="material-symbols-rounded">close</span></button>
                </div>
                <div class="p-2 text-lg bg-theme-postPrimary text-theme-textPrimary">
                    <p>NUchan is a visual update to 4chan that is going to add a whole lot new features. The website is still very much a work in progress, as a passion project of Диян Николов, the goal is to present 4chan in a visually prettier way than 2003 and add exciting new features, like infinite post saving, mobile support, multiple image uploads, color themes, user profiles (might be kinda dumb, since the point of 4chan is to be anonymous)</p>
                </div>
            </section>

            <section id="boardsWindow" class="flex flex-col w-full max-w-[900px] mt-5 border-2 border-theme-bgAccent">
                <div class="flex flex-row p-2 text-theme-textAccent bg-theme-bgPrimary">
                    <h3 class="text-2xl font-bold grow">Boards</h3>
                    
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn m-1 btn-ghost text-lg">Filter</div>
                        <ul tabindex="0" class="dropdown-content menu bg-theme-postPrimary z-[1] w-52 shadow border-2 border-theme-bgAccent">
                          <li><a>Item 1</a></li>
                          <li><a>Item 2</a></li>
                        </ul>
                    </div>

                </div>
                
                <div id="boardsWindowList" class="flex flex-col grow bg-theme-postPrimary p-2 flex-wrap lg:h-[520px] content-evenly gap-4 text-theme-textPrimary"></div>
            </section>
        
        
        
        
        
        </main>
        
    </div>
</body>
</html>