<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white">

<!-- -------------------- HEAD -------------------- -->
<%- include("partials/head.ejs") %>
<head>
    <title>NUchan:Hot</title>
</head>


<body>
	<div id="gridContainer" class="grid grid-cols-[260px_1fr] grid-rows-[60px_auto] h-screen">
        <!-- -------------------- HEADER -------------------- -->
        <%- include("partials/header") %>
        <!-- -------------------- SIDEBAR -------------------- -->
        <%- include("partials/sidebar") %>
        <!-- -------------------- MAIN CONTENT -------------------- -->
        <main id="mainContent" class=" col-span-1 bg-[#FFFFEE] text-black">
            <h1 class="text-9xl">HOT</h1>
            <span>
                <img src="" alt="">
            </span>






        </main>
    </div>
</body>
</html>