<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="scripts/main.css"> -->
    <link rel="stylesheet" href="scripts/tailwind.css">
</head>
<body>
	<div class="bg-gray-600 "></div>
	<h1>test 1</h1>
	<h1>test 1</h1>
	<h1>test 1</h1>
	<h1>test 1</h1>
</body>
</html>