<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="scripts/main.css"> -->
    <link rel="stylesheet" href="scripts/tailwind.css">
</head>
<body class="bg-red">
    <h1 class="font-bold">PAGE 1 TEST</h1>
    <h1>PAGE 1 TEST</h1>
    <h1 class="text-green-800">PAGE 1 TEST</h1>
    <h2 class="text-white hover:text-green">WE HOME PAGE</H2>

    <button class="bg-black">tailwind button</button>
</body>
</html>