<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white">

<!-- -------------------- HEAD -------------------- -->
<%- include("partials/head.ejs") %>
<head>
    <title>NUchan</title>
</head>

<body>
	<div id="gridContainer" class="grid grid-rows-[auto_auto] h-screen">
        <!-- -------------------- HEADER -------------------- -->
        <%- include("partials/header") %>
        <!-- -------------------- SIDEBAR -------------------- -->
        <%- include("partials/sidebar") %>
        <!-- -------------------- MAIN CONTENT -------------------- -->
        <main id="mainContent" class=" col-span-1 bg-[#FFFFEE] text-black">
            
            <div class="flex justify-center align-middle h-full">
                <h1 class="text-9xl">SETTINGS PAGE</h1>
            </div>
        
        
        
        
        
        
        
        
        
        
        
        
        </main>
    </div>
</body>
</html>