<!DOCTYPE html >
<html lang="en" data-theme="dark" class="bg-white">

<!-- -------------------- HEAD -------------------- -->
<%- include("partials/head.ejs") %>
<head>
    <script defer type="module" src="/scripts/home.js"></script>
    <title>NUchan</title>
</head>


<body class="bg-black">

            <!-- -------------------- HEADER -------------------- -->
            <%- include("partials/header") %>
            <!-- -------------------- SIDEBAR -------------------- -->
            <%- include("partials/sidebar") %>
	<div id="gridContainer" class="grid grid-rows-[52px_auto] auto-rows-min w-screen h-screen">
       
        
    </div>
</body>
</html>